
<!--管理者用ご意見確認フォーム-->

<div class="row my-3 css_font opinion_form">
  <div class="col-1"></div>
  <div class="col-10">
    <h3 class="css_font title my-3">ご意見一覧</h3>
    <table class="table" width="100%">
      <thead class="thead-light">
      <tr>
        <th class="css_font">投稿日時</th>
        <th class="css_font">ユーザー名</th>
        <th class="css_font">メールアドレス</th>
        <th class="css_font">ご意見内容</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <% @opinion.each do |opinion| %>
        <tr>
        <td class="css_font"><%= opinion.created_at %></td>
        <td class="css_font"><%= opinion.user.name %></td>
        <td class="css_font"><%= opinion.user.email %></td>
        <td class="css_font"><%= opinion.opinion %></td>
        <td class="css_font"><%= link_to admin_opinions_path(id: opinion.id), method: :delete,class: 'text-secondary' do %><i class="fa-solid fa-trash"></i><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @opinion %>
  </div>
  <div class="col-1"></div>
</div>