
<!--会員ログインページ-->

<div class="row my-3 signinpage">
  <div class="col-4"></div>
  <div class="col-4 css_font">
    <div class="css_font"><%= flash[:notice] %></div>
    <h3 class="css_font title my-3">会員ログイン画面</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field css_font">
      <%= f.label :メールアドレス %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field css_font">
      <%= f.label :パスワード %><br/>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
    <div class="field css_font pt-1">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを記憶する %>
    </div>
      <% end %>
    <div class="actions css_font">
      <%= f.submit "ログイン" %>
    </div>
    <% end %>
      <%#= render "user/shared/links" %>
    <div>
      <%= link_to new_admin_session_path,class: 'nav-link text-secondary' do %>
      >>管理者ログインはこちら
      <% end %>
      </div>
  </div>
  <div class="col-4"></div>
</div>