
<!--会員ページ楽曲一覧-->

<div class="row text-center mt-5">
  <div class="col-12">
    <h3 class="css_font title">投稿楽曲一覧</h3>
  </div>
</div>
<div class="row my-3">
<!--非公開-->
  <div class="col-6">
    <h4 class="css_font text-danger">非公開</h4>
      <table class="table" width="100%">
        <thead class="thead-light">
          <tr>
            <th class="css_font">曲名</th>
            <th class="css_font">アーティスト</th>
            <th class="css_font">公開ステータス</th>
          </tr>
        </thead>
      <% @close_songs.each do |song| %>
        <tbody>
          <tr>
            <td class="css_font"><%= link_to song_path(song.id),class: 'text-secondary' do %><%= song.name %><% end %></td>
            <td class="css_font"><%= song.artist %></td>
            <td>
            <% if song.is_opened == false %>
            <b class="text-danger css_font">非公開</b>
            <% elsif %>
            <b class="text-success css_font">公開</b>
            <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
      </table>
  </div>
<!--公開-->
  <div class="col-6">
    <h4 class="css_font text-success">公開</h4>
    <table class="table" width="100%">
      <thead class="thead-light">
        <tr>
          <th class="css_font">曲名</th>
          <th class="css_font">アーティスト</th>
          <th class="css_font">公開ステータス</th>
        </tr>
      </thead>
    <% @open_songs.each do |song| %>
    <tbody>
      <tr>
        <td class="css_font"><%= link_to song_path(song.id),class: 'text-secondary' do %><%= song.name %><% end %></td>
        <td class="css_font"><%= song.artist %></td>
        <td>
        <% if song.is_opened == false %>
        <b class="text-danger css_font">非公開</b>
        <% elsif %>
        <b class="text-success css_font">公開</b>
        <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
    </table>
  </div>
</div>




