<h1>Song detail</h1>


<%= @song.name %>
<%= @song.artist %>
<%= @song.tuning %>
<%= @song.capo %>
<%= @song.bpm %>
<%= @song.tonic %>
<%= @song.chord %>
<%= @song.secret_word %>
<% if @song.is_opened == false %>
非公開
<% elsif %>
公開
<% end %>


<td>
<% if @song.user == current_user %>
<%= link_to "Edit", edit_song_path(@song.id)  %>
<% end %>
</td>

<td>
<% if @song.user == current_user %>
<%= link_to "Destroy", song_path(@song.id), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
<% end %>
</td>

<div>
  <p>コメント件数：<%= @song.comments.count %></p>
  <% @song.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.name %><%= comment.comment %>
    <% if comment.user == current_user %>
    <%= link_to "削除", song_comment_path(comment.song, comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@song, @comment] do |f| %>
    <%= f.text_field :name, rows: '5', placeholder: "名前をここに" %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>