
<!--管理者ログインページ-->

<div class="row my-3 signinpage">
  <div class="col-4"></div>
  <div class="col-4 ">
    <div class="css_font"><%= flash[:notice] %></div>
    <h3 class="css_font title my-3">管理者ログイン画面</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field css_font">
      <%= f.label :メールアドレス %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field css_font">
      <%= f.label :パスワード %><br/>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
    <div class="field css_font pt-1">
      <%= f.check_box :remember_me %>
      <%= f.label :パスワードを記憶する %>
    </div>
    <% end %>
    <div class="actions css_font">
      <%= f.submit "ログイン" %>
    </div>
    <% end %>
    <%#= render "admin/shared/links" %>
  </div>
  <div class="col-4"></div>
</div>