<div class="container">
  <div class="row justify-content-center my-3">
    <h3 class="border-bottom border-gray">ジャンル一覧・追加</h3>
  </div>

  <!--新規登録-->
  <div class="row justify-content-lg-center">
      <div class="mx-auto">
        <div class="col-lg-12">
          <%= flash[:notice] %>
            <div class="row">
              <div class="col text-center ">
                <%= form_with model: @genre, method: :post, local: true do |f| %>
                <%= f.label :name, "ジャンル名" %>
                <%= f.text_field :name %>
                <%= f.submit '新規登録', class: "btn btn-success" %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
  </div>

  <!--ジャンル一覧-->
  <div class="row pt-md-5">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ジャンル</th>
          <th colspan="1"></th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
        <% @genres.each do |genre| %>
          <td class="align-middle"><%= genre.name %></td>
        <% end %>
        </tr>
      </tbody>
        
    </table>
  </div>
</div>