
<!--アドミンページ会員一覧の編集-->

<div class="row my-3 user_list">
  <div class="col-4"></div>
    <div class="col-4 css_font">
    <h3 class="css_font title my-3"><%= @user.name%>さんの会員情報編集</h3>
    <%= form_with model: @user, url: admin_path(@user.id) do |f| %>
    <div class="my-2">
      <%= f.label :ユーザー名 %><br>
      <%= f.text_field :name %>
    </div>
    <div class="my-2">
      <%= f.label :メールアドレス %><br>
      <%= f.text_field :email %>
    </div>
    <div class="my-3">
      <%= f.label :会員ステータス %><br>
      <%= f.radio_button :is_deleted, false %>
      有効ユーザー
      <%= f.radio_button :is_deleted, true %>
      退会ユーザー
    </div>
    <%= f.submit '変更を保存',class: 'btn btn-outline-secondary' %>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>