
<!--全ページ共通-->

<!DOCTYPE html>
<html>
  <head>
    <title>BeChords</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/7dc7d3c10f.js" crossorigin="anonymous"></script>
    <!--<script src=”https://code.jquery.com/jquery-3.4.1.min.js” integrity=”sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=” crossorigin=”anonymous”></script>-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body class="d-flex flex-column min-vh-100">
      <%= render 'layouts/header' %>
      <main>
      <div class="container">
        <%= yield %>
      </div>
      </main>
      <%= render 'layouts/footer' %>
  </body>
</html>

<!--<script>-->
<!--$(‘#bottomBtn’).on(‘click’, function() {-->
<!--    $(‘html, body’).animate(-->
<!--        { scrollTop: $(‘body’).get(0).scrollHeight },-->
<!--        200 * 100 * 100,-->
<!--        ‘linear’,-->
<!--    );-->
<!--});-->
<!--</script>-->
